In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, count, explode, split, lower

# Create Spark session
spark = SparkSession.builder \
    .appName("BDA Lab: Titanic MapReduce") \
    .getOrCreate()

# Load the Titanic CSV into a DataFrame
df = spark.read.csv("Titanic-Dataset.csv", header=True, inferSchema=True)

# 1. Basic exploration
df.show(5)
print(f"Total rows: {df.count()}")
print(f"Total columns: {len(df.columns)}")

# 2. Select relevant columns
df_selected = df.select("PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", "Fare")
df_selected.show(5)

# 3. Count passengers per class
passengers_per_class = df_selected.groupBy("Pclass").count()
passengers_per_class.show()

# 4. Survival rate (%) per class
survival_rate = df_selected.groupBy("Pclass").agg((avg("Survived") * 100).alias("survival_rate_percent"))
survival_rate.show()

# 5. Average age per class
avg_age_per_class = df_selected.groupBy("Pclass").agg(avg("Age").alias("avg_age"))
avg_age_per_class.show()

# 6. Most common first names among survivors
#    - Split the 'Name' column on comma or period to extract first names
survivors = df_selected.filter(col("Survived") == 1)
names_df = survivors.withColumn(
    "first_name",
    lower(
        split(col("Name"), "[,\\. ]+")[1]  # picks the first name after the title
    )
)
# Filter only alphabetic names
names_df = names_df.filter(col("first_name").rlike("^[a-z]+$"))

# Count and show the top 10 first names
first_name_counts = names_df.groupBy("first_name").count()
top_first_names = first_name_counts.orderBy(col("count").desc()).limit(10)
top_first_names.show()

# Stop the Spark session
spark.stop()